@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Usuario> SignInManager

@{
	string? idUsuario = ViewData["IdUsuario"] as string;
	bool? vendedor = ViewData["Vendedor"] as bool?;
}

<header>
	<div class="header">
		<div class="main-header">
			<div class="header-logo">
				<h1><a asp-controller="Home" asp-action="Index" class="text-decoration-none" style="cursor: pointer;">Livraria</a></h1>
			</div>
			<div class="header-navigation">
				@if (!SignInManager.IsSignedIn(User))
				{
					<a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user" aria-hidden="true"></i><br>Login</a>
					<a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i><br>Cadastro</a>
					if (vendedor != true)
					{
						<a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-shopping-cart" aria-hidden="true"></i><br>Carrinho</a>
					}
				}
				else
				{
					<div><b>Seja bem-vindo</b>,<br />@User.Identity.Name</div>
					if (vendedor != true)
					{
						<a asp-controller="Carrinho" asp-action="VerCarrinho" asp-route-idUsuario="@idUsuario"><i class="fa fa-shopping-cart" aria-hidden="true"></i><br>Carrinho</a>
					}
				}

				@if (SignInManager.IsSignedIn(User))
				{
					<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post" id="logoutForm" class="form-inline">
						<button class="btn" type="submit"><i class="fa fa-user-circle-o" aria-hidden="true"></i><br>Sair</button>
					</form>
				}
				<a asp-action="SobreNos" asp-controller="Home"><i class="fa fa-question-circle"></i><br />Sobre Nós</a>
			</div>
		</div>
	</div>
	<div class="secondary-header">
		<a style="color: white;" asp-action="MaisVendidos" asp-controller="Livros">Mais Vendidos</a>
		<a style="color: white;" asp-action="Index" asp-controller="Livros">Todos os Livros</a>
	</div>
</header>