@media (max-width: 768px) {
    .main-header, .secondary-header {
        flex-direction: column;
    }

    .header-logo, .header-navigation {
        width: 100%;
        text-align: center;
    }

}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 40%;
    margin-left: 3vw;
}

.header-navigation {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2vw;
    margin-right: 1vw;
}

.secondary-header button {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: background-color 0.3s ease; 
}

    .secondary-header button:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

.secondary-header a {
    color: white;
    transition: color 0.3s ease; 
}

    .secondary-header a:hover {
        color: #ddd; 
    }
