<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Livraria</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Livraria.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
	<header>
		<div class="header">
			<div class="main-header">
				<div class="d-flex align-items-center" style="width: 40%;">
					<h1><a asp-controller="Home" asp-action="Index" class="text-decoration-none" style="cursor: pointer;">Livraria</a></h1>
				</div>
				<div class="d-flex align-items-center justify-content-around" style="width: 40%;">
					<a href="sobrenos.html">Sobre nós</a>
					<div>
						<label for="search-input">
							<i style="font-size: 18px;transform: translateX(35px);" class="fa fa-search" aria-hidden="true"></i>
						</label>
						<input id="search-input" class="header-input" type="text" name="input" placeholder="">
					</div>
					<a href="tela-login.html"><i class="fa fa-user-circle-o" aria-hidden="true"></i><br>Entrar</a>
					<a href="carrinho.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i><br>Carrinho</a>
				</div>
			</div>
		</div>
		<div class="secondary-header">
			<div class="dropdown">
				<button style="background-color: transparent; border: 0; padding: 0;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-bars" aria-hidden="true"></i> Categorias
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="produtos.html">Ação</a></li>
					<li><a class="dropdown-item" href="produtos.html">Aventura</a></li>
					<li><a class="dropdown-item" href="produtos.html">Arquitetura</a></li>
					<li><a class="dropdown-item" href="produtos.html">Direito</a></li>
					<li><a class="dropdown-item" href="produtos.html">Economia</a></li>
					<li><a class="dropdown-item" href="produtos.html">Pedagogia</a></li>
					<li><a class="dropdown-item" style="color: orange;" href="produtos.html"><strong>Ver todos</strong></a></li>
				</ul>
			</div>
			<a style="color: white;" href="produtos.html">Mais Vendidos</a>
			<a style="color: white;" asp-action="Index" asp-controller="Livros">Todos os Livros</a>
			<a style="color: white;" href="produtos.html">Livros Recomendados</a>
			<div class="dropdown">
				<button style="background-color: transparent; border: 0; padding: 0;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
					Livros por Idioma
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
					<li><a class="dropdown-item" href="produtos.html">Inglês</a></li>
					<li><a class="dropdown-item" href="produtos.html">Espanhol</a></li>
					<li><a class="dropdown-item" href="produtos.html">Alemão</a></li>
					<li><a class="dropdown-item" href="produtos.html">Italiano</a></li>
					<li><a class="dropdown-item" href="produtos.html">Françês</a></li>
					<li><a class="dropdown-item" href="produtos.html">Japonês</a></li>
					<li><a class="dropdown-item" style="color: orange;" href="produtos.html"><strong>Ver todos</strong></a></li>
				</ul>
			</div>
		</div>
	</header>
	<div>
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div>
			&copy; 2023 - Livraria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/books.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
