.container{
    margin: 75px 30%;
}
.preco{
    background-color: rgb(224, 224, 224);
    padding: 15px;
    height: fit-content;
}
.preco p{
    font-size: 25px;
}
.preco button{
    background: red;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    border: 0;
    padding: 15px 25px;
}
#imagem img{
    width: 350px;
    height: 500px;
}