@{
	ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" />

<div>
	<div class="header-carrousel">
		<img src="~/img/books3.jpg" width="100%">
	</div>
	<div class="mais-vendidos">
		<h3>Mais Vendidos</h3>
		<div id="mais-vendidos" class="book-carrousel"></div>
	</div>
	<div class="mais-vendidos">
		<h3>Melhores Avaliados</h3>
		<div id="mais-avaliados" class="book-carrousel"></div>
	</div>
</div>

<script defer src="~/js/index.js" asp-append-version="true"></script>