@*
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: chocolate;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
        }

        footer {
            background-color: chocolate;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>*@


<div class="about-section">
	<h1>Quem somos?</h1>

	<div class="container">
		<p>
			Bem-vindo à nossa livraria virtual, um local onde o amor pelos livros encontra a praticidade digital. Aqui, você tem acesso a uma ampla gama de títulos, desde obras clássicas até lançamentos recentes, cuidadosamente selecionados para atender a diversos interesses.
		</p>
		<p>
			Entendemos o impacto significativo que a leitura pode ter. Por isso, oferecemos uma plataforma fácil de usar, onde você pode explorar diferentes autores e gêneros. Nossa livraria não é apenas um lugar para comprar livros; é um espaço para descobrir novas histórias e expandir horizontes.
		</p>
		<p>
			Nosso catálogo diversificado visa proporcionar uma experiência de leitura enriquecedora. Cada livro foi escolhido pensando não só em entreter, mas também em oferecer novas perspectivas e conhecimentos. Esperamos que você encontre o que procura e muito mais em nossa livraria virtual.
		</p>
		<p>Projeto de uma livraria feito para a disciplina de aplicações para a internet.</p>
        <p><b>Alunos: </b>Pedro Henrique, Henrique Henriques e Matheus Cassiano</p>
	</div>
</div>