html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-brand {
    font-size: 28px;
}

.bg-orange {
    background-color: #FFCC99;
}

body {
  margin-bottom: 60px;
}

.btn-style {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

    .btn-style:hover {
        color: white;
        background-color: #2C8F30;
    }